@font-face {
font-family: "Agency FB Regular";
src: url(BlackOpsOne-Regular.ttf) format("truetype");
}
h1,h3,h5,p,text { font-family: "Agency FB Regular", sans-serif }

#heading {
  background-color: #009933;
  color: white;
}

.jumbotron {
  background-color: #009933;
}

.well {
  background-color: #009933;
  color: white;
}

#selCategory {
  background-color: white;
  color: black;
}

#selTime {
  background-color: white;
  color: black;
}

#refreshButton {
  background-color: white;
  color: black;
}

.navigation .navbar-brand {
  color: white;
  margin-left: 0px;
  font-weight: bold;
  background-color: #009933;
}

.navbar {
  background-color: #009933;
  font-size: 25px; 
}
.nav-link {
  background-color: #009933;
  padding: inherit;
  margin-right: 10px;
}

.active, .dropdown-menu .dropdown-item:active a:hover {
  background-color: #009933;
}
.dropdown-item {
  color: white;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #009933;
}

.nav-link:hover {
  background-color:#009933;
  color: white;
 }

.navbar-brand:hover {
color: #009933;
}
a {
  color: white;
  font-size: 15px;
}

.tooltip {
  display: none;
  position: absolute;
  width: 80px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  text-align: center;
  background: orange;
  border: 0;
  border-radius: 10px;
}
#second-row{
  /* padding-top: 50px; */
  margin-top: 50px;
}
.line {
  fill: none;
  stroke-width: 2px;
}

.green {
  stroke: green;
}

.blue {
  stroke: blue;
}

.text {
  font-size: 16px;
  text-anchor: middle;
}

.gdp-text {
  fill: blue;
  padding-bottom: 20px;
}

.amt-text {
  fill: green;
}
.error-text{
  vertical-align: text-top;
}
.tooltip1 {
  /* display: none; */
  /* position: absolute; */
  width: 170px;
  height: 130px;
  padding: 6px;
  padding-top: 6px;
  font: 16px sans-serif;
  text-align: center;
  background:lightgrey;
  border: 0;
  border-radius: 10px;
}