<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <!-- <script src="./static/js/bonus.js"></script> -->
  <!--<script src="samples.json"></script>-->
  <title>Military Spending Data Cleaning</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  <div class="navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" style="background-color: #009933; color: white" href="/">MILITARY</a>
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto" style="list-style: none;">
                <li class="nav-item">
                    <a class="nav-link" href="/country">DATA BY COUNTRY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doughnuts">DOUGHNUT PLOTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/barrace">BAR RACE</a>
              </li>

                  <li class="nav-item">
                      <a class="nav-link" href="/cleaning">DATA CLEANING</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/sources">SOURCES</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <div id="heading">
          <h1><center><u>Data Cleaning</u>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="well">
          <h3>World Bank API Data & Thenmap API V2 Data:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <center><img src="/static/images/WBcleaning.jpg" class="center"></center><br>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row">
      <div class="well">
        <h3>Wikipedia:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <center><img src="../static/images/WikiBefore.png" class="center"></center><br>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <center><img src="../static/images/WikiAfter.png" class="center"></center><br>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
  
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="./static/js/app.js"></script>
  <script src="./static/js/map.js"></script>
</body>

</html>
